language: python
env:
  - DATABASE_URL="dbname='stackoverflow_lite' host='127.0.0.1' port='5432' user='postgres' password=''"
  - DATABASE_TEST_URL="dbname='stackoverflow_litet' host='127.0.1' port='5432' user='postgres' password=''"
python:
  - "3.6"

install:
  - pip install -r requirements.txt
  - pip install coveralls

services:
  - postgresql
addons:
  postgresql: "9.6"

before_script:
  - psql -c 'CREATE DATABASE stackoverflow_lite' -U postgres
  - psql -c 'CREATE DATABASE stackoverflow_litet' -U postgres
  - psql -f stackovflow.sql stackoverflow_lite
  - psql -f stackovflow.sql stackoverflow_litet
  - psql -c "GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public to postgres ;" -U postgres

script:
  - nosetests API/app/tests -v --with-coverage --cover-package=app

after_success:
  - coveralls
