/*Universal Styling*/
body{
  padding:0;
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #f0f0f0;
  
}
input{
  width:400px;
  height:40px;
  margin:10px;
  padding:0 0 0 5px;
}
button{
  width: 120px;
  height:40px;
  border:solid 3px #000000;
  margin:10px;
}
button:hover{
  background-color: #000;
  color:#fff;
}
th{
  height:40px;
}
.container{
  width:100%;
  height:100%;
  display:grid;
  grid-template-columns: [first-col] 150px [second-col] 150px [third-col] auto [fourth-col] 150px [fifth-col] 150px [sixth-col];
  grid-template-rows: [first-row] 100px [second-row] auto [third-row] 50px [fourth-row];
  grid-row-gap: 20px;
}

/*navbar grid item*/
.item-1{
  grid-column-start: first-col;
  grid-column-end: sixth-col;
  grid-row-start: first-row;
  grid-row-end: second-row;
}
.item-2{
  grid-column-start: third-col;
  grid-column-end: fourth-col;
  grid-row-start: second-row;
  grid-row-end: third-row;
}
.item-3{
  grid-column-start: third-col;
  grid-column-end: fourth-col;
  grid-row-start: third-row;
  grid-row-end: fourth-row;
}
/*Specific styling*/
header{
  padding:0 10px 0 0;
  height:100px;
  background-color: rgb(117, 104, 240);
}
#logoImage{
  width: 60px;
  height: 60px;
  float: left;
  padding: 20px 20px 20px 0;
  
}
input{
  outline: 1px solid rgb(117, 104, 240);
}
input:hover{
  outline: 1px solid #000;
}
.linkSpan{
  text-align: right;
}
#submitButton{
  height:40px;
  border:solid 3px #000000;
  width:240px;
  float:right;
}
#submitButton:hover{
  background-color: #000;
  color:#fff;
}
legend {
  background-color: rgb(117, 104, 240);
  color: #000;
  padding: 3px 6px;
  margin-left:10px;
}

.fieldsets{
  border:solid 3px rgb(117, 104, 240);
  position:absolute;
  width:426px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
fieldset{
  margin:3px 0 3px 0;
  padding:3px;
  border:solid 3px rgb(117, 104, 240);
}
#header_div{
  margin: 0;
  padding: 0;
}
.signingButton{
  margin: 30px 0 0 0;
  float:right;
}
header div h1{
  float: left;
  width: 500px;
  font-size:40px;
  padding: 25px 0 40px 0;
}
ul{
  font-weight: normal;
  margin-left:40px;
}
#searchButton{
  width:40px;
  height:40px;
  border:0px;
  margin:0px;
}
#searchButton:hover{
  background-color: rgb(117, 104, 240);
}
#search{
  padding:3px;
  margin:0px;
}

.stats{
  padding:7px;
  width:150px;
  margin:7px;
  border:solid 3px #000;
}

textarea{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:12px;
  width:100%;
  border:solid 2px rgb(117, 104, 240);
}

.questionsMeta{
  text-align: right;
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
}
.question{
  border-left:solid 3px rgb(117, 104, 240);
  border-right:solid 3px rgb(117, 104, 240);
  background-color: rgba(255, 127, 80, 0.6);
  margin:5px 0 5px 0;
  padding:5px 3px 5px 3px;
  font-weight: bold;
}
.answer{
  border-left:solid 3px rgb(117, 104, 240);
  border-right:solid 3px rgb(117, 104, 240);
  background-color: rgba(255, 127, 80, 0.6);
  margin:5px 0 5px 0;
  padding:5px 3px 5px 3px;
}
/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}


