/*Universal Styling*/
body{
  padding:0;
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #f0f0f0;
  
}
input{
  width:400px;
  height:40px;
  margin:10px;
  padding:0 0 0 5px;
}
button{
  width: 120px;
  height:40px;
  border:solid 3px #000000;
  margin:10px;
}
button:hover{
  background-color: #000;
  color:#fff;
}
th{
  height:40px;
}
.container{
  width:100%;
  height:100%;
  display:grid;
  grid-template-columns: [first-col] 1fr [second-col] 1fr [third-col] 4fr [fourth-col] 1fr [fifth-col] 1fr [sixth-col];
  grid-template-rows: [first-row] 100px [second-row] auto [third-row] 50px [fourth-row];
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

/*navbar grid item*/
.item-1{
  grid-column-start: first-col;
  grid-column-end: sixth-col;
  grid-row-start: first-row;
  grid-row-end: second-row;
}
.item-2{
  grid-column-start: third-col;
  grid-column-end: fourth-col;
  grid-row-start: second-row;
  grid-row-end: third-row;
}
.item-3{
  grid-column-start: third-col;
  grid-column-end: fourth-col;
  grid-row-start: third-row;
  grid-row-end: fourth-row;
}
.item-4{
  grid-column-start: first-col;
  grid-column-end: third-col;
  grid-row-start: second-row;
  grid-row-end: third-row;
}
/*Specific styling*/
#logoImage{
  width: 60px;
  height: 60px;
  padding: 20px 20px 20px 0;
}
input{
  outline: 1px solid rgb(117, 104, 240);
}
input:hover{
  outline: 1px solid #000;
}
.linkSpan{
  text-align: right;
}
#submitButton{
  height:40px;
  border:solid 3px #000000;
  width:240px;
  float:right;
}
#submitButton:hover{
  background-color: #000;
  color:#fff;
}
legend {
  background-color: rgb(117, 104, 240);
  color: #000;
  padding: 3px 6px;
  margin-left:10px;
}
#mostAnswered{
  width: 90%;
}
.fieldsets{
  border:solid 3px rgb(117, 104, 240);
  position:absolute;
  width:426px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
fieldset{
  margin:3px 0 3px 0;
  padding:3px 3px;
  border:solid 3px rgb(117, 104, 240);
}
.signinButton{
  margin: 30px 0 0 0;
  float:right;
}
.signoutButton{
  margin: 30px 0 0 0;
  float:right;
}
ul{
  font-weight: normal;
  margin-left:40px;
}
nav{
  padding:0 10px 0 0;
  height:100px;
  background-color: rgb(117, 104, 240);
}
nav *{
  float: left;
  /* vertical-align: middle; */
}
nav a{
  display:block;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-size:25px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  padding-right: 10px;
  padding-left: 10px;
  color:inherit;
  height: 100%;
}
nav a:hover{
  cursor: default;
  text-decoration: underline;
}
#headerLink{
  font-size: 20px;
  line-height:38px;
}
#searchButton{
  width:40px;
  height:40px;
  border:0px;
  margin:0px;
}
#searchButton:hover{
  background-color: rgb(117, 104, 240);
}
#search{
  padding:3px;
  margin:0px;
}

.stats{
  padding:7px;
  width:150px;
  margin:7px;
  border:solid 3px #000;
}
#postQuestionFieldset{
  display: none;
}
#postAnswerFieldset{
  display: none;
}
textarea{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:14px;
  width:99%;
  border:solid 2px rgb(117, 104, 240);
}
.questionMeta{
  text-align: right;
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
}
.answerMeta{
  text-align: right;
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
}
.questionTitle{
  
  border-right:solid 3px rgb(117, 104, 240);
  background-color: rgba(255, 127, 80, 0.6);
  margin:5px 0 5px 0;
  padding:5px 3px 5px 3px;
  font-weight: bold;
}
.questionDesc{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}
.answer{
  border-left:solid 3px rgb(117, 104, 240);
  border-right:solid 3px rgb(117, 104, 240);
  background-color: rgba(255, 127, 80, 0.6);
  margin:5px 0 5px 0;
  padding:5px 3px 5px 3px;
}
/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#signOutLink{
  display: none;
}
.acceptAnsBtn{
  display: none;
}
.preferred{
  border: #000 1px solid;
}